.topbun_form_container_white{
    background-color:blanchedalmond;
    height:100px;
    width:400px;
    border-radius:50px 50px 20px 20px;
    text-align:center;
    margin:auto;
}
.topbun_form_container_wheat{
    background-color:burlywood;
    height:100px;
    width:400px;
    border-radius:50px 50px 20px 20px;
    text-align:center;
    margin:auto;
}
.topbun_form_container_oats{
    background-color:brown;
    height:100px;
    width:400px;
    border-radius:50px 50px 20px 20px;
    text-align:center;
    margin:auto;
}
.cheese_form_container_prov{
    background-color:whitesmoke;
    height:40px;
    width:400px;
    text-align:center;
    margin:5px auto;

}
.cheese_form_container_cheddar{
    background-color:orange;
    height:50px;
    width:400px;
    text-align:center;
    margin:5px auto;

}
.cheese_form_container_blue{
    background-color:lightblue;
    height:50px;
    width:400px;
    text-align:center;
    margin:5px auto;

}
.cheese_form_container_none{

    width:400px;
    text-align:center;
    margin:5px auto;

}
.veggies_form_container_on{
    background-color:greenyellow;
    height:45px;
    width:400px;
    text-align:center;
    margin:5px auto;
}
.veggies_form_container_off{
    width:400px;
    text-align:center;
    margin:5px auto;
}
.meat_form_container_chicken{
    background-color:palegoldenrod;
    height:90px;
    width:400px;
    text-align:center;
    border-radius:20px;
    margin:5px auto;

}
.meat_form_container_beef{
    background-color:lightcoral;
    height:90px;
    width:400px;
    text-align:center;
    border-radius:20px;
    margin:5px auto;

}
.beefsmall{
    background-color:lightcoral;
}
.chickensmall{
    background-color:palegoldenrod;


}
.turkeysmall{
    background-color:lightgray;


}
.tofusmall{
    background-color:whitesmoke;


}

.meat_form_container_turkey{
    background-color:lightgray;
    height:90px;
    width:400px;
    text-align:center;
    border-radius:20px;
    margin:5px auto;

}
.meat_form_container_tofu{
    background-color:whitesmoke;
    height:90px;
    width:400px;
    text-align:center;
    border-radius:20px;
    margin:5px auto;

}



.bottombun_form_container_white{
    background-color:blanchedalmond ;
    height:100px;
    width:400px;
    border-radius:20px 20px 50px 50px;
    text-align:center;
    margin:5px auto;

}
.bottombun_form_container_wheat{
    background-color:burlywood;
    height:100px;
    width:400px;
    border-radius:20px 20px 50px 50px;
    text-align:center;
    margin:5px auto;

}
.bottombun_form_container_oats{
    background-color:brown;
    height:100px;
    width:400px;
    border-radius:20px 20px 50px 50px;
    text-align:center;
    margin:5px auto;

}
body{
    background-image:url('./images/burger.jpg');
}

.input{
    margin:5px auto;
    position:relative;
    top:6px;
    text-align:center;

    border-radius:20px;

}

.uneaten_list_container{
    float:left;
}

.eaten_list_container{
    float:right;
}
 
.plate{
    margin:5px auto;
    background-color:red;
    height:50px;
    width:600px;
    border-radius:5px 5px 100px 100px;
    text-align:center;
}
#submit_burger{

    margin:5px;
    background-color: yellow;
    border-radius: 20px;
}
.topbunsmall{

    height:20px;
    width:100px;
    text-align:center;
    margin:auto;
    border-radius:30px 30px 10px 10px;
    color:darkgoldenrod;
    font-size:small;
    font-weight:bold;
}
.bottombunsmall{
    height:20px;
    width:100px;
    text-align:center;
    margin:auto;
    border-radius:10px 10px 30px 30px;


}

.white{
    background-color:blanchedalmond;
}
.wheat{
    background-color:burlywood;
}
.oats{
    background-color:brown;
}
.letticesmall{
    background-color: lightgreen;
    width:100px;
    height:5px;

}
.cheesesmall{
    width:100px;
    height:5px;
}

.bluesmall{
    background-color: lightsteelblue;
}
.cheddarsmall{
    background-color: orange;
}
.provolonesmall{
    background-color: whitesmoke;
}
.meatsmall{
    width:100px;
    height:20px;
    border-radius:7px;
}
.nonesmall{
    height:0px;
}

.eat_button{
    height:30px;
    width:30px;
    margin:2px auto;
    font-size: small;
    font-weight: bold;
    color:red;
    background-color:yellow;
    border-radius: 10px;
    text-align:center;
}
.eaten_list_container{
    background-color: gainsboro;
    color:darkgray;
    font-weight:bold;
    border:2px solid darkgray;
    padding:4px;
    border-radius: 8px;

}





/* .container{
    widows: 100%;
    height:100%;
    background-color:lightsteelblue;
    opacity:.4;
    position:relative;
    z-index:-1;

    
} */